################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/samples/Power Component Framework/UserAndTeamSelector/node_modules
/samples/Power Component Framework/UserAndTeamSelector/out/controls/UserAndTeamSelector
